<section *ngIf="!isLogedIn">
  <div class="bsk-container">
    <button class="bsk-btn bsk-btn-default" (click)="login()">
      <object
        type="image/svg+xml"
        data="https://s3-eu-west-1.amazonaws.com/cdn-testing.web.bas.ac.uk/scratch/bas-style-kit/ms-pictogram/ms-pictogram.svg"
        class="x-icon"
      ></object>
      Sign in with Microsoft
    </button>
  </div>
</section>

<section *ngIf="isLogedIn">
  <p><strong>First Name: </strong> {{ profile?.givenName }}</p>
  <p><strong>Last Name: </strong> {{ profile?.surname }}</p>
  <p><strong>Email: </strong> {{ profile?.userPrincipalName }}</p>
  <p><strong>Id: </strong> {{ profile?.id }}</p>
</section>
