<body class="body">
  <div class="bg-space">
    <div class="container flex column">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <h2>{{ title }}</h2>
        <div class="forminput flex column">
          <label for="">Email</label>
          <input type="text" formControlName="email" />
          <div *ngIf="!email.valid && (email.dirty || email.touched)">
            <div [hidden]="!email.errors.email" class="error">
              Invalid email format
            </div>
            <div [hidden]="!email.errors.required" class="error">
              email is required
            </div>
          </div>
        </div>
        <div class="forminput flex column">
          <label for="">Password</label>
          <input type="password" formControlName="password" />
          <div *ngIf="!password.valid && (password.dirty || password.touched)">
            <div [hidden]="!password.errors.pattern" class="error">
              Only characters are allowed
            </div>
            <div [hidden]="!password.errors.minLength" class="error">
              Min length allowed is
              {{ password.errors.minlength?.requiredLength }}
            </div>
            <div [hidden]="!password.errors.required" class="error">
              password is required
            </div>
          </div>
        </div>
        <div class="flex">
          <button class="btn btn-blue" [disabled]="!loginForm.valid">
            Sign in
          </button>
          <p>Forgot your password?</p>
        </div>
        <div class="flex justify mt-3 text">Don't have an account ?</div>
        <a href="" class="flex justify text">Sign up</a>
      </form>
    </div>
  </div>
</body>
