* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background-color: rgb(245, 244, 244);
}

.bg-space {
  width: 400px;
  height: 600px;
  background-color: #4a4ae4;
  border-radius: 10px;

  .container {
    background-color: white;
    width: 400px;
    height: 450px;
    position: absolute;
    margin: 70px 0px 0px -75px;
    border-radius: 10px;

    padding: 2rem 2.5rem;
    label {
      font-weight: 700;
      font-size: 0.8rem;
      margin-bottom: 0.2rem;
    }
    input {
      padding: 0.8rem 0.5rem;
      border-radius: 0.2rem;
      border: 2px solid #b4b4ca;
      &:focus-visible {
        outline-color: #4a4ae4;
      }
    }
    .forminput {
      margin: 0.7rem 0;
    }
    .btn {
      padding: 0.9rem 2.5rem;
      border: none;
      border-radius: 20rem;
      margin-right: 1.5rem;
      cursor: pointer;
      transition: all 0.3s;
      &:focus,
      &:active {
        outline: none;
      }
      &:hover {
        transform: scale(1.03);
      }
    }
    .btn-blue {
      background: #4a4ae4;
      color: white;
      font-size: 0.9rem;
      font-weight: 500;
    }
    button:disabled {
      background-color: gray;
      opacity: 0.4;
      color: #323232;
    }
    p {
      font-size: 0.9rem;
      font-weight: 500;
      color: black;
      cursor: pointer;
      position: relative;
      &::before {
        position: absolute;
        content: "";
        bottom: -4px;
        left: 0;
        width: 0%;
        height: 3px;
        transition: all 0.6s;
        background: #4a4ae4;
      }
      &:hover::before {
        width: 90%;
      }
    }
  }
}
.flex {
  display: flex;
  align-content: center;
}
.justify {
  width: 100%;
  justify-content: center;
}
.column {
  flex-direction: column;
}
.mt-3 {
  margin-top: 3rem;
}
.text {
  font-weight: 500;
  color: black;
}
.error {
  color: brown;
}
.disabled {
  background-color: grey;
}
